@font-face {
	font-family: 'alternate-gothic';
	src: url('../assets/font/alternate-gothic-no2-d.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
}

p {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, p {
  color: #333;
  font-weight: 100;
}

h1, h2, h3, h4, button {
  font-family: 'alternative-gothic', sans-serif;
}


p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $color-one;
  }
}

a:visited {
  text-decoration: none;
  &:hover {
    color: $color-one;
  }
}

li {
  list-style: none;
}

h2 {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}
