<!DOCTYPE html>
<html>
  <%- partial("../_partials/header") %>
  <body>
    <%- partial("../_partials/navbar") %>
    <div class="portf">
      <div class="container">
        <%- yield %>
      </div>
    </div>
  </div>
    <%- partial("../_partials/contact") %>
  <footer>
    <script src="../js/main.js"></script>
  </footer>
  </body>
</html>
