<div class="video-container" data-id="background-video-container">
  <div class="video-play-button" data-id="video-play-button">
    <span class="icon-play"></span>
  </div>
  <video autoplay="" loop="" muted="true" data-id="background-video">
    <source src="https://8thlight.com/videos/8th-light-c5a83a23.webm" type="video/webm">
    <source src="https://8thlight.com/videos/8th-light-6f2dbb26.mp4" type="video/mp4">
  </video>
</div>

<div class="academy-container">
  <h1>GlobeTown Coding Academy</h1>
  <div class="academy-form">
    <iframe src="https://docs.google.com/forms/d/1aUpIaKfspZ43opp_9cnzHZy3ZMP5ZZGLxV-TWOtAzfo/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>
