<div class='training'>
  <h1><span class="desktop">Practical t</span><span class="mobile">T</span>raining for software developers</h1>
  <h3><span class="desktop">We run hands-on training in </span>React & React Native</h3>
  <a onclick="fac.nav_scroll('/training/', 'contact')"><button class='button-one big-button'>TALK TO US</button></a>
</div>

<div class="box-container">
  <%# <div class="grid-2">
    <a href="https://ti.to/globetown/react-native" target="_blank">
      <div class="box">
        <h1>React Native</h1>
        <p>18th October</p>
      </div>
    </a>
  </div>
  <div class="grid-2">
    <div class="box">
      <h1>React</h1>
      <p>25th October</p>
    </div>
  </div>
</div>%>

<div class='training-copy'>
  <div>
    <p>We love teaching software and offer training in React, React Native, Node and TDD either on site or at our offices in Bethnal Green.</p>
    <p>Given notice we can provide bespoke training accross across our stack.</p>
    <%- partial("_stack.md") %>
  </div>
</div>
