<div id="contact"></div>
<div class="contact">
	<div class="container">
		<div itemscope itemtype="http://schema.org/LocalBusiness" class="grid-6 info">
			<p itemprop="telephone">+44 7931 729 663</p>
			<a href="mailto:hello@globetown.io"><p itemprop="email">hello@globetown.io</p></a>
			<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">14 Palmers Road</span>,
				<span itemprop="addressLocality">London</span>,
				<span itemprop="postalCode">E2 OSY</span>
			</p>
			<div>
				<a href="https://twitter.com/globetownio" target="_blank"><i class="icon-twitter-circled contact-icon"></i></a>
				<a href="https://github.com/besarthoxhaj" target="_blank"><i class="icon-github-circled contact-icon"></i></a>
				<a href="mailto:izaakrogan@gmail.com" target="_blank"><i class="icon-mail-circled contact-icon"></i></a>
				<a href="https://www.google.co.uk/maps/place/14+Palmers+Rd,+London+E2+0SY" target="_blank"><i class="icon-location-circled contact-icon"></i></a>
				<a href="http://www.meetup.com/London-React-Native-Community/" target="_blank"><i class="icon-meetup contact-icon"></i></a>
				<!-- <a href=""><i class="icon-instagram-circled contact-icon"></i></a>			 -->
			</div>
		</div>
		<div class="grid-6">
			<div class="form" method="post">

				<form id='gform' action="https://script.google.com/macros/s/AKfycbw-NQWouSunwcgEpWyHkxqijx0qjz-9hwQLLxYwQ1iESVaz9FEp/exec" method="post">
					<input id="contact-form-name" name="contact-form-name" type="text" placeholder="Name" class="input-one">
					<input id="contact-form-email" type="email" name="email" placeholder="Email" class="input-one">
					<textarea id="contact-form-message" name="message" type="text" placeholder="Tell us about your project"></textarea>
					<h3 id="form_message" style="float:left;display:none;">Thank you!</h3>
					<button class="button-one" type"submit">Send</button>
					<pre id="response"></pre>
				</form>
			</div>
		</div>
	</div>
	<script>
		function validEmail(email) {
		  var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
		  return re.test(email);
		}
		// get all data in form and return object
		function getFormData() {
		  var elements = document.getElementById("gform").elements; // all form elements
		  var fields = Object.keys(elements).map(function(k) {
		    if(elements[k].name !== undefined) {
		      return elements[k].name;
		    }
		  }).filter(function(item, pos, self) {
		    return self.indexOf(item) == pos && item;
		  });
		  var data = {};
		  fields.forEach(function(k){
		    data[k] = elements[k].value;
		  });
		  console.log(data);
		  return data;
		}

		function handleFormSubmit(event) {
			// handles form submit withtout any jquery
			// we are submitting via xhr below
			// get the values submitted in the form
			// if email is not valid show error
		  event.preventDefault();
		  var data = getFormData();
			console.log('data',data);
		  if(!validEmail(data.email)) {
				console.log('not valid email');
		    document.getElementById('form_message').style.display = 'block';
				document.getElementById('form_message').style.color = 'red';
				document.getElementById('form_message').innerHTML = 'Please check your email.';
		    return false;
		  } else {
				console.log('here');
		    var url = event.target.action;
		    var xhr = new XMLHttpRequest();
		    xhr.open('POST',url);
		    // xhr.withCredentials = true;
		    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		    xhr.onreadystatechange = function () {
					console.log('Thank you!');
	        // document.getElementById('gform').style.display = 'none';
	        document.getElementById('form_message').style.display = 'block';
					document.getElementById('form_message').innerHTML = 'Thank you!';
					document.getElementById('form_message').style.color = 'green';
	        return;
		    };
		    // url encode form data for sending as post data
		    var encoded = Object.keys(data).map(function(k) {
		      return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
		    }).join('&');
		    xhr.send(encoded);
		  }
		}
		function loaded() {
		  console.log('contact form submission handler loaded successfully');
		  // bind to the submit event of our form
		  var form = document.getElementById('gform');
		  form.addEventListener("submit",handleFormSubmit,false);
		};
		document.addEventListener('DOMContentLoaded',loaded,false);
	</script>
</div>
